* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.controls-item {
    display: flex;
    justify-content: space-between;
}

input[type='text'],
input[type='number'] {
    width: 50px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: 22px;
}

input[type='number'] {
    font-size: 16px;
}

span {
    width: 100px;
    padding-top: 10px;
}

.square {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    background-color: aquamarine;
}

.out {
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    background-color: rgb(225, 250, 242);
    resize: none;
}

button {
    width: 300px;
    cursor: pointer;
}